
.clean:after{content:'.';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
			ul,li,ol{list-style:none;}
			img,fieldset{border:0; } 
			img{display:block;}
			a{text-decoration:none; color:#333;}
			h1,h2,h3,h4,h5,h6{font-weight:normal;}
			body{ font-family:"微软雅黑";}
            input,a{outline:none;}
html,body,#app,.home{
    width: 100%;
    height: 100%;
}

.beyondHidden{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

/* 旋转180° */
@keyframes rotation { 
	from { 
	  transform: rotate(0deg); 
	} 
	to { 
	  transform: rotate(180deg); 
	} 
} 

.el-message{
	margin-top: 60px;
}